@import '../../../assets/styles/styles.scss';
.header{
    height:50px;
    width:100%;
    background-color: $alizarin;
    display:flex;
    align-items: center;
    justify-content: center;
}
.title{
    color:white;
    font-size:30px;
    font-family: 'Brush Script MT';
    font-weight: 'bold';
}
